* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: linear-gradient(192.77deg, #EAF8FA 5.56%, #E6F4F8 101.3%, rgba(255, 255, 255, 0) 103.34%);
}

body, html {
  height: 100%;
  overflow-x: hidden;
}

p {
  margin: 0 !important;
}

.menuBar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #0B0B0B;
  width: 30%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuBar a {
  padding-left: 100px;
  margin: 25px 0;
  color: #FDFDFD;
}

.Logo {
  width: 70px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.burger {
  cursor: pointer;
}

.sideBaractive {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

@-webkit-keyframes links {
  from {
    -webkit-transform: translateX(150px) scale(0.5) rotateY(90deg);
            transform: translateX(150px) scale(0.5) rotateY(90deg);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) scale(1) rotateY(0);
            transform: translateX(0) scale(1) rotateY(0);
    opacity: 1;
  }
}

@keyframes links {
  from {
    -webkit-transform: translateX(150px) scale(0.5) rotateY(90deg);
            transform: translateX(150px) scale(0.5) rotateY(90deg);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) scale(1) rotateY(0);
            transform: translateX(0) scale(1) rotateY(0);
    opacity: 1;
  }
}

.burger.active .line {
  background-color: #FDFDFD;
}

.burger.active .l1 {
  -webkit-transform: rotate(-45deg) translateX(-9px);
          transform: rotate(-45deg) translateX(-9px);
  width: 26px;
}

.burger.active .l2 {
  -webkit-transform: rotate(45deg) translateX(-9px);
          transform: rotate(45deg) translateX(-9px);
}

.nav {
  padding: 10px 30px;
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #FDFDFD;
}

.nav img {
  width: 85px;
  height: auto;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.nav .burger {
  z-index: 3;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.nav .burger .line {
  height: 2px;
  background-color: #0B0B0B;
  margin: 5px 0;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.nav .burger .l1 {
  width: 40px;
}

.nav .burger .l2 {
  width: 26px;
}

.nav .sideBar {
  background-color: #0B0B0B;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: ease .2s all;
  transition: ease .2s all;
  -webkit-box-shadow: 0 10px 25px #0b0b0b15;
          box-shadow: 0 10px 25px #0b0b0b15;
  overflow: hidden;
}

.nav .sideBar ul {
  margin-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nav .sideBar ul li {
  color: #FDFDFD;
  list-style: none;
  font-size: 2rem;
  font-weight: 600;
  margin: 20px 0;
  position: relative;
  z-index: 2;
}

.nav .sideBar ul li:nth-child(1):after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  background-color: #61CE70;
  height: 1rem;
  z-index: -1;
}

.nav .sideBar ul li a {
  color: #FDFDFD;
  text-decoration: none;
}

.nav svg {
  cursor: pointer;
}

svg {
  overflow: visible !important;
}
/*# sourceMappingURL=style.css.map */